span{
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff;
    animation: star 2s linear infinite;
}


@keyframes star {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}